<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
</head>

<body>

    <section class="container block">
        <h2>سوابق راننده</h2>
        <div class="accondion-wrapper">
          <div class="accordion__intro">
            <h2 class="accordion__heading">رزومه و سوابق</h2>
            <span>
              <span>ویرایش</span>
              <span>
                <i class="far fa-edit"></i>
              </span>
            </span>
          </div>
          <div class="accordion">
            <header class="accordion__header">
              <h2 class="accordion__heading">سابقه کاری</h2>
              <span class="">
                <i class="fas fa-chevron-circle-left"></i>
              </span>
            </header>
            <div class="accordion__content">
              <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
                نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
              </p>
            </div>
          </div>
          <div class="accordion">
            <header class="accordion__header">
              <h2 class="accordion__heading">سابقه تحصیلی</h2>
              <span class="">
                <i class="fas fa-chevron-circle-left"></i>
              </span>
            </header>
            <div class="accordion__content">
              <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
                نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
              </p>
            </div>
          </div>
          <div class="accordion">
            <header class="accordion__header">
              <h2 class="accordion__heading">زبان های مسلط</h2>
              <span class="">
                <i class="fas fa-chevron-circle-left"></i>
              </span>
            </header>
            <div class="accordion__content">
              <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
                نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
              </p>
            </div>
          </div>
        </div>
      </section>
      <script>
        const accordionHeaders = document.querySelectorAll(".accordion__header");
        const accordion = document.querySelector(".accordion");
        accordionHeaders.forEach((item) => {
          item.addEventListener("click", (e) => {
            console.log(e.target.parentElement);
            e.target.parentElement.classList.toggle("accordion__expanded");
          });
        });
      </script>
</body>

</html>