<!-- <section class="contact-us container">
    <div class="contact-us__icons" style="background-color: rgb(145, 255, 0); height: 100px;">icon</div>
    <div class="contact-us__address" style="background-color: rgb(255, 123, 0); height: 100px;">number , address</div>
    <div class="contact-us__map" style="background-color: rgb(255, 25, 0); height: 100px;">map</div>
    <div class="contact-us__form" style="background-color: rgb(255, 251, 5); height: auto;">form</div>
</section>
 -->

<section class="container block">
    <div class="contact-us">
        <div class="contact-us__social">
            <span class="icon-container">
                <svg class="icon">
                    <use xlink:href="/assets/images/svg-sprite.svg#Linkedin"></use>
                </svg>
            </span>
            <span class="icon-container">
                <svg class="icon">
                    <use xlink:href="/assets/images/svg-sprite.svg#Facebook"></use>
                </svg>
            </span>
            <span class="icon-container">
                <svg class="icon">
                    <use xlink:href="/assets/images/svg-sprite.svg#Twitter"></use>
                </svg>
            </span>
        </div>
        <div class="contact-us__icons">
            <div class="icon-holder">
                <span class="icon-holder__label">info@fronthooks.ir</span>
                <span class="icon-container">
                    <svg class="icon">
                        <use xlink:href="/assets/images/svg-sprite.svg#Message"></use>
                    </svg>
                </span>
            </div>
            <div class="icon-holder">
                <span class="icon-holder__label">+989182451234</span>
                <span class="icon-container">
                    <svg class="icon">
                        <use xlink:href="/assets/images/svg-sprite.svg#Calling"></use>
                    </svg>
                </span>
            </div>
            <div class="icon-holder">
                <span class="icon-holder__label">ایران-کردستان-سنندج خیابان 21- کوچه 101</span>
                <span class="icon-container">
                    <svg class="icon icon--small">
                        <use xlink:href="/assets/images/svg-sprite.svg#Location"></use>
                    </svg>
                </span>
            </div>
        </div>
        <div class="contact-us__map"><img src="/assets/images/map.png" alt="">
        </div>
        <div class="contact-us__form">
            <div class="form-wrapper">
                <h3>نظرات شما</h3>
                <form>
                    <input type="text" placeholder="نام و نام خانوادگی">
                    <input type="email" placeholder="ایمیل خود را وارد کنید" dir="ltr">
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                    <button type="submit" class="btn btn--primary">ثبت نظر</button>
                </form>
            </div>
        </div>
    </div>
</section>