<section class="hero-section">
    <picture>
        <source srcset="https://tapsi.ir/images/home/banner.webp" type="image/webp" media="(min-width: 768px)" />
        <source srcset="https://tapsi.ir/images/home/banner.jpg" type="image/jpg" media="(min-width: 768px)" />
        <source srcset="https://tapsi.ir/images/home/banner-mobile.webp" type="image/webp" media="(max-width: 768px)" />
        <source srcset="https://tapsi.ir/images/home/banner-mobile.jpg" type="image/jpg" media="(max-width: 768px)" />
        <img alt="banner" src="https://tapsi.ir/images/home/banner.jpg" class="banner-img" />
    </picture>
    <picture>
        <source srcset="https://tapsi.ir/images/home/mockup-phone.webp" type="image/webp" media="(min-width: 1024px)">
        <source srcset="https://tapsi.ir/images/home/mockup-phone.png" type="image/png" media="(min-width: 1024px)">
        <img alt="phone" class="banner-phone">
    </picture>
    <div class="hero-wrapper container">
        <div class="intro-btn">
            <h1>تپسی</h1>
            <h2>اپلیکیشن درخواست خودرو و پیک</h2>
            <div class="intro-wrapper">
                <div class="intro-btn__passenger">
                    <span class="icon">
                        <i class="fa-solid fa-car"></i>
                    </span>
                    <p>دانلود اپلیکیشن مسافران</p>
                </div>
                <div class="intro-btn__passenger">دانلود اپلیکیشن مسافران</div>
                <div class="intro-btn__passenger">دانلود اپلیکیشن مسافران</div>
                <div class="intro-btn__passenger">دانلود اپلیکیشن مسافران</div>
            </div>
        </div>
    </div>
</section>