<section class="block-plan container">
    <div class="plan">
        <div class="card card--secondary">
            <header class="card__header">
                <span class="plan__introduction">
                    <span class="plan__name">عادی</span>
                    <span class="badge badge--secondary">10% OFF</span>
                </span>
                <span class="plan__price">290,000</span>
                <span class="plan__billing-cycle">ماهانه/تومان</span>
                <span class="plan__description">سرویس ماشین های معمولی</span>
            </header>
            <div class="card__body">
                <ul class="list list--tick">
                    <li class="list__item">کیفیت معمولی</li>
                    <li class="list__item">کیفیت معمولی</li>
                    <li class="list__item">کیفیت معمولی</li>
                    <li class="list__item">کیفیت معمولی</li>
                </ul>
                <button class="btn btn--secondary btn--block">ثبت سفارش</button>
            </div>
        </div>
    </div>
    <div class="plan plan--popular">
        <div class="card card--primary">
            <header class="card__header">
                <span class="plan__introduction">
                    <span class="plan__name">اقتصادی</span>
                    <span class="badge badge--primary">15% OFF</span>
                </span>
                <span class="plan__price">390,000</span>
                <span class="plan__billing-cycle">ماهانه/تومان</span>
                <span class="plan__description">سرویس ماشین های کلاسیک</span>
            </header>
            <div class="card__body">
                <div class="card__body">
                    <ul class="list list--tick">
                        <li class="list__item">کیفیت عالی</li>
                        <li class="list__item">کم سر و صدا</li>
                        <li class="list__item">زمان محدود</li>
                        <li class="list__item">سرویس روزانه</li>
                    </ul>
                    <button class="btn btn--primary btn--block">ثبت سفارش</button>
                </div>
            </div>
        </div>
    </div>
    <div class="plan">
        <div class="card card--secondary">
            <header class="card__header">
                <span class="plan__introduction">
                    <span class="plan__name">ویژه</span>
                    <span class="badge badge--secondary">20% OFF</span>
                </span>
                <span class="plan__price">490,000</span>
                <span class="plan__billing-cycle">ماهانه/تومان</span>
                <span class="plan__description">سرویس ماشین های مدل بالا</span>
            </header>
            <div class="card__body">
                <div class="card__body">
                    <ul class="list list--tick">
                        <li class="list__item">کیفیت خیلی خفن</li>
                        <li class="list__item">بی سر وصدا</li>
                        <li class="list__item">زمان نامحدود</li>
                        <li class="list__item">سرویس نامحدود</li>
                    </ul>
                    <button class="btn btn--secondary btn--block">ثبت سفارش</button>
                </div>
            </div>
        </div>
    </div>


</section>