<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <section class="services container block">
    <h2 class="services__title">سرویس های تپسی</h2>
    <div class="services__tabs">
      <a class="tab active" data-tab-target="nav-classic-tab">
        <img
          src="https://tapsi.ir/images/home/cc-classic.png"
          alt="tapsi-classic-icon"
        />
        <p>تپسی کلاسیک</p>
      </a>
      <a class="tab" data-tab-target="nav-motopeyk-tab">
        <img
          src="https://tapsi.ir/images/home/cc-motopeyk.png"
          alt="motopeyk-icon"
        />
        <p>موتوپیک</p>
      </a>
      <a class="tab" data-tab-target="nav-autopeyk-tab">
        <img
          src="https://tapsi.ir/images/home/cc-autopeyk.png"
          alt="autopeyk-icon"
        />
        <p>اتوپیک</p>
      </a>
      <a class="tab" data-tab-target="nav-plus-tab">
        <img
          src="https://tapsi.ir/images/home/cc-plus.png"
          alt="tapsi-plus-icon"
        />
        <p>تپسی پلاس</p>
      </a>
      <a class="tab" data-tab-target="nav-tel-tab">
        <img
          src="https://tapsi.ir/images/home/cc-tel.png"
          alt="tapsi-tel-icon"
        />
        <p>تپسی تلفنی</p>
      </a>
      <a class="tab" data-tab-target="nav-hamyar-tab">
        <img
          src="https://tapsi.ir/images/home/cc-hamyar.png"
          alt="hamyar-icon"
        />
        <p>همیار</p>
      </a>
      <a class="tab" data-tab-target="nav-hamkhat-tab">
        <img
          src="https://tapsi.ir/images/home/cc-hamkhat.png"
          alt="hamkhat-icon"
        />
        <p>هم&zwnj;خط</p>
      </a>
      <a class="tab" data-tab-target="nav-taxi-tab">
        <img
          src="https://tapsi.ir/images/home/cc-taxi.png"
          alt="tapsi-taxi-icon"
        />
        <p>تاکسی</p>
      </a>
      <a class="tab" data-tab-target="nav-line-tab">
        <img
          src="https://tapsi.ir/images/home/cc-line.png"
          alt="tapsi-line-icon"
        />
        <p>تپسی لاین</p>
      </a>
    </div>
    <div class="container">
      <div class="tab-content active" id="nav-classic-tab">
        <div class="feature__image">
          <img src="https://tapsi.ir/images/home/illus-classic.webp" alt="" />
        </div>
        <div class="feature__detail">
          <h3 class="feature__title">تپسی کلاسیک</h3>
          <p class="feature__text">
            با سرویس کلاسیک تپسی، یک خودروی اختصاصی برای رسیدن به مقصدتان
            دارید. تپسی کلاسیک، راهی سریع و آسان برای سفرهای درون‌شهری در هر
            ساعتی از روز است. در این سرویس، شما امکان تعیین دو یا چند مقصد و
            همچنین توقف در مسیر را دارید.
          </p>
        </div>
      </div>
      <div class="tab-content" id="nav-motopeyk-tab">
        <div class="feature__image">
          <img
            src="https://tapsi.ir/images/home/illus-motopeyk.webp"
            alt=""
          />
        </div>
        <div class="feature__detail">
          <h3 class="feature__title">موتوپیک</h3>
          <p class="feature__text">
            با استفاده از سرویس موتوپیک، بسته‌ها و مرسولاتتان با پیک موتور به
            مقصد ارسال می‌شوند. این سرویس مناسب زمانی است که می‌خواهید مرسوله
            سریع‌تر به مقصد برسد. در این سرویس، شما می‌توانید مسیر رسیدن
            مرسوله‌تان به مقصد را به صورت لحظه‌ای روی نقشه دنبال کنید.
          </p>
        </div>
      </div>
      <div class="tab-content" id="nav-autopeyk-tab">
        <div class="feature__image">
          <img
            src="https://tapsi.ir/images/home/illus-autopeyk.webp"
            alt=""
          />
        </div>
        <div class="feature__detail">
          <h3 class="feature__title">اتوپیک</h3>
          <p class="feature__text">
            اتوپیک سرویسی برای ارسال بسته‌های شما با خودرو است. این سرویس،
            برای زمانی مناسب است که بسته‌های شما، با موتور قابل ارسال نیستند و
            یا در حین جابجایی، نیاز به مراقبت بیشتری دارند. در این سرویس نیز
            امکان رصد لحظه ‌به لحظه موقعیت مکانی مرسوله تا زمان رسیدن به مقصد
            فراهم است.
          </p>
        </div>
      </div>
      <div class="tab-content" id="nav-plus-tab">
        <div class="feature__image">
          <img src="https://tapsi.ir/images/home/illus-plus.webp" alt="" />
        </div>
        <div class="feature__detail">
          <h3 class="feature__title">تپسی پلاس</h3>
          <p class="feature__text">
            در سرویس پلاس تاکسی اینترنتی تپسی، خودرویی با مدل بالاتر و عمر
            کمتر، به دنبال شما خواهد آمد. همچنین، رانندگان این سرویس بالاترین
            امتیاز را از مسافران دریافت کرده‌اند. در این سرویس که در حال حاضر
            در تهران فعال است، امکان تعیین چند مقصد یا توقف در حین سفر، وجود
            دارد.
          </p>
        </div>
      </div>
      <div class="tab-content" id="nav-tel-tab">
        <div class="feature__image">
          <img src="https://tapsi.ir/images/home/illus-tel.webp" alt="" />
        </div>
        <div class="feature__detail">
          <h3 class="feature__title">تپسی تلفنی</h3>
          <p class="feature__text">
            سرویس تپسی تلفنی یا ۱۶۳۰، این امکان را به شما می‌دهد که بدون نیاز
            به اینترنت و اپلیکیشن، درخواست خودرو بدهید. این سرویس تاکسی تلفنی
            مناسب زمانی است که به هر دلیلی دسترسی به اینترنت یا اپلیکیشن
            ندارید. همچنین سرویس تلفنی تپسی، راه حلی مناسب برای افرادی است که
            کار کردن با اپلیکیشن‌های موبایلی برایشان راحت نیست.
          </p>
        </div>
      </div>
      <div class="tab-content" id="nav-hamyar-tab">
        <div class="feature__image">
          <img src="https://tapsi.ir/images/home/illus-hamyar.webp" alt="" />
        </div>
        <div class="feature__detail">
          <h3 class="feature__title">همیار</h3>
          <p class="feature__text">
            سرویس همیار تپسی، به جای شما خرید می‌کند. کافیست فروشگاه مورد نظر
            خود را به عنوان مبدا مشخص کرده و لیست خریدتان را داخل اپ وارد
            کنید. این خرید‌ها می‌تواند از سوپرمارکت یا داروخانه مورد نظر شما
            باشند.
          </p>
        </div>
      </div>
      <div class="tab-content" id="nav-hamkhat-tab">
        <div class="feature__image">
          <img src="https://tapsi.ir/images/home/illus-hamkhat.webp" alt="" />
        </div>
        <div class="feature__detail">
          <h3 class="feature__title">هم خط</h3>
          <p class="feature__text">
            سرویس هم‌خط تپسی شما را با مینی‌بوس‌ به مقصد می‌رساند. با استفاده
            از سرویس هم‌خط بعد از انتخاب مسیر سفر، بلیت‌تان را خریداری کنید و
            سریع‌تر و راحت‌تر به مقصد برسید. این سرویس خطی بسیار ارزان‌تر از
            دیگر سرویس‌های تپسی است و شما را سریع‌تر و راحت‌تر از حمل‌ونقل
            عمومی به مقصدتان می‌رساند. شما می‌توانید از قبل بلیت هم خط را رزرو
            کنید و با رعایت فاصله اجتماعی به مقصد برسید. سرویس مینی بوس آنلاین
            فعلا فقط در تهران فعال است.
          </p>
        </div>
      </div>
      <div class="tab-content" id="nav-taxi-tab">
        <div class="feature__image">
          <img src="https://tapsi.ir/images/home/illus-taxi.webp" alt="" />
        </div>
        <div class="feature__detail">
          <h3 class="feature__title">تپسی تاکسی</h3>
          <p class="feature__text">
            در سرویس تاکسی تپسی، تاکسی‌های زرد یا سبز شما را به مقصدتان
            می‌رسانند. این سرویس در حال حاضر در تهران فعال است و چنانچه به
            دلایلی مانند ورود به محدوده طرح ترافیک یا طرح آلودگی هوا، ترجیح
            بدهید از تاکسی برای رفت‌وآمدتان استفاده کنید، گزینه مناسبی خواهد
            بود.
          </p>
        </div>
      </div>
      <div class="tab-content" id="nav-line-tab">
        <div class="feature__image">
          <img src="https://tapsi.ir/images/home/illus-line.webp" alt="" />
        </div>
        <div class="feature__detail">
          <h3 class="feature__title">تپسی لاین</h3>
          <p class="feature__text">
            تپسی لاین سرویسی است که امکان سفر اشتراکی را برایتان فراهم می‌کند.
            در این سرویس شما با مسافر دیگری که هم‌مسیرتان است، هم‌سفر خواهید
            بود و هزینه سفرتان تقسیم می‌شود. این سرویس در حال حاضر به دلیل
            شرایط همه‌گیری بیماری کرونا از دسترس خارج شده اما با بهبود شرایط
            می‌توانید از سرویس لاین استفاده کنید.
          </p>
        </div>
      </div>
    </div>
  </section>
  <script src="/js/main.js"></script>
</body>
</html>