<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
</head>

<body>
    <section class="container travel block" data-aos="fade-up" data-aos-duration="2000" data-aos-easing="ease-in-out"
        data-aos-mirror="true">
        <div class="travel__slides">
          <div class="travel__slide">
            <div class="slide__img">
              <img src="/assets/images/travell.png" alt="" />
            </div>
            <div class="slide__detail">
              <div class="slide__header">
                <span class="badge badge--primary">ویژه</span>
                <p>اقامت رایگان &bull; سفر سه روزه</p>
              </div>
              <p class="slide__title">سفر به قلب کویر</p>
              <div class="avatar-group">
                <div class="avatar">
                  <img
                    src="https://pixinvent.com/materialize-material-design-admin-template/app-assets/images/user/12.jpg"
                  />
                </div>
                <div class="avatar">
                  <img
                    src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                  />
                </div>
                <div class="avatar">
                  <img
                    src="https://rimage.gnst.jp/livejapan.com/public/article/detail/a/00/04/a0004213/img/basic/a0004213_main.jpg?20200710184501&q=80&rw=750&rh=536"
                  />
                </div>
                <div class="hidden-avatars">10+</div>
                <span class="slide__suggest">پیشنهاد</span>
              </div>
              <div class="slide__icons">
                <div class="">
                  <i class="fas fa-heart" style="color: orangered"></i>
                  <span>12</span>
                  <i class="far fa-eye"></i>
                  <span>24</span>
                </div>
                <div>
                  <i class="far fa-edit"></i>
                  <i class="far fa-trash-alt"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="travel__slide">
            <div class="slide__img">
              <img src="/assets/images/travell-2.jpg" alt="" />
            </div>
            <div class="slide__detail">
              <div class="slide__header">
                <span class="badge badge--secondary">معمولی</span>
                <p>سفر سه روزه</p>
              </div>
              <p class="slide__title">سفر به قلب کویر</p>
              <div class="avatar-group">
                <div class="avatar">
                  <img
                    src="https://pixinvent.com/materialize-material-design-admin-template/app-assets/images/user/12.jpg"
                  />
                </div>
                <div class="avatar">
                  <img
                    src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                  />
                </div>
                <div class="avatar">
                  <img
                    src="https://rimage.gnst.jp/livejapan.com/public/article/detail/a/00/04/a0004213/img/basic/a0004213_main.jpg?20200710184501&q=80&rw=750&rh=536"
                  />
                </div>
                <div class="hidden-avatars">10+</div>
                <span class="slide__suggest">پیشنهاد</span>
              </div>
              <div class="slide__icons">
                <div class="">
                  <i class="fas fa-heart"></i>
                  <span>12</span>
                  <i class="far fa-eye"></i>
                  <span>24</span>
                </div>
                <div>
                  <i class="far fa-edit"></i>
                  <i class="far fa-trash-alt"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="travel__slide">
            <div class="slide__img">
              <img src="/assets/images/travell-3.jpg" alt="" />
            </div>
            <div class="slide__detail">
              <div class="slide__header">
                <span class="badge badge--primary">ویژه</span>
                <p>اقامت رایگان &bull; سفر سه روزه</p>
              </div>
              <p class="slide__title">سفر به قلب کویر</p>
              <div class="avatar-group">
                <div class="avatar">
                  <img
                    src="https://pixinvent.com/materialize-material-design-admin-template/app-assets/images/user/12.jpg"
                  />
                </div>
                <div class="avatar">
                  <img
                    src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                  />
                </div>
                <div class="avatar">
                  <img
                    src="https://rimage.gnst.jp/livejapan.com/public/article/detail/a/00/04/a0004213/img/basic/a0004213_main.jpg?20200710184501&q=80&rw=750&rh=536"
                  />
                </div>
                <div class="hidden-avatars">10+</div>
                <span class="slide__suggest">پیشنهاد</span>
              </div>
              <div class="slide__icons">
                <div class="">
                  <i class="fas fa-heart"></i>
                  <span>12</span>
                  <i class="far fa-eye"></i>
                  <span>24</span>
                </div>
                <div>
                  <i class="far fa-edit"></i>
                  <i class="far fa-trash-alt"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="travel__slide">
            <div class="slide__img">
              <img src="/assets/images/travell-4.jpg" alt="" />
            </div>
            <div class="slide__detail">
              <div class="slide__header">
                <span class="badge badge--primary">ویژه</span>
                <p>قامت رایگان &bull; سفر سه روزه</p>
              </div>
              <p class="slide__title">سفر به قلب کویر</p>
              <div class="avatar-group">
                <div class="avatar">
                  <img
                    src="https://pixinvent.com/materialize-material-design-admin-template/app-assets/images/user/12.jpg"
                  />
                </div>
                <div class="avatar">
                  <img
                    src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                  />
                </div>
                <div class="avatar">
                  <img
                    src="https://rimage.gnst.jp/livejapan.com/public/article/detail/a/00/04/a0004213/img/basic/a0004213_main.jpg?20200710184501&q=80&rw=750&rh=536"
                  />
                </div>
                <div class="hidden-avatars">10+</div>
                <span class="slide__suggest">پیشنهاد</span>
              </div>
              <div class="slide__icons">
                <div class="">
                  <i class="fas fa-heart"></i>
                  <span>12</span>
                  <i class="far fa-eye"></i>
                  <span>24</span>
                </div>
                <div>
                  <i class="far fa-edit"></i>
                  <i class="far fa-trash-alt"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>

</html>